<% include partials/header %>
    <form class="blog-form" action="/blogs" method="POST">
        <div class="content-area">
            <input type="text" name="title" placeholder="title here">            
            <input type="text" name="image" placeholder="image url here">
            
        </div>
        <div class="editor">
        <div class="tool-bar">
            <div>
                <a href="javascript:void(0)" class="bold-btn"><span>B</span></a>
            </div>
            <div>
                <a href="javascript:void(0)" class="italics-btn"><span>I</span></a>
            </div>
            <div>
                <a href="javascript:void(0)" class="underline-btn"><span>U</span></a>
            </div>
            <div>
                <a href="javascript:void(0)" class="list-btn"><span>l</span></a>
            </div>
        </div>
            <div placeholder="text goes here" class="text-area" contenteditable="true"></div>
            <textarea placeholder="text goes here" class="text-content" name="content"></textarea>
        </div>

            <input type="submit">

        <a href="/blogs"></a>
    </form>

<% include partials/footer %>