body {
    margin: 0;
    background-color: #d3d3d3;
}

footer {
    margin: 0 auto;
    text-align: center;
}

.app-wrap {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
}

/*nav*/

.navbar {
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-logo img {
    width: 100px;

}

.main-nav ul {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.main-nav {
    width: 800px;
}

.main-nav  button {
    border: none;
    width: 70px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.main-logo {
    color: white;
}

.member-nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
    align-items: center;
}

.member-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 10px 10px 10px 0px;
    text-align: center;
    width: 300px;
    
}

.member-nav li {
    list-style-type: none;
}

.member-nav a {
    text-decoration: none;
    color: black;
}

/* Home */
.home-intro {
    margin: 50px auto;
    width: 70%;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.home-intro div:nth-of-type(1) {
    margin: 20px;
}

.home-intro p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.home-portrait img {
    width: 300px;
}


/* body */
.post-list {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.post-list img {
    width: 100%;
}

.post-list-description {
    padding: 10px;
}

.post-list-description h1 {
    margin: 0;
}

.post-list-description a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

/* blog show */

.blog-show-container {
    display: grid;
    margin: 20px;
}

.blog-show-container h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-show-container p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.7rem;;
}

.img-container {
    float: left;
    margin: 0px 20px 0px 0px;
}

.img-container img {
    width: 200px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5)
}

.img-container div {
    font-size: 2rem;
    text-align: center;
    opacity: .5;
    margin-top: 15px;
}

.show-btn form  {
    height: 100%;
}

.show-btns {
    display: flex;
    width: 125px;
    justify-content: space-between;
}

.show-btns input {
    border: 2px solid rgba(0, 0, 8, 0.6);
    color: 2px solid rgba(0, 0, 8, 0.6);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
}

.show-btns input:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 8, 0.6);
}

.show-btns button:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 8, 0.6);
}

.show-btns a button {
    border: 2px solid rgba(0, 0, 8, 0.6);
    color: 2px solid rgba(0, 0, 8, 0.6);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
}


.show-btns a button {
    border: 2px solid rgba(189, 0, 0, 0.6);
    color: rgba(189, 0, 0, 0.6);
}




/* blog create form */

.blog-create-form {
    text-align: center;
}

.blog-create-form form > div {
    width: 100%;
    height: 100%;
}

.blog-create-form form {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#d3d3d3; ;
}

.blog-create-form form {
    width: 100%;
    justify-content: center;
    align-content: center;
    
}

.tool-bar {
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    background-color:#bdbdbd ;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tool-bar > div  {
    border: none;
    width: 40px;
    height: 30px;
    background-color: #b9b9b9;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
}


.tool-bar > div:hover  {
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tool-bar div > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.text-area {
    background-color: white;
    width: 90%;
    height: 500px;
    padding: 30px;
    text-align: left;
    border-radius: 5px;
}

.text-content {
    display: none;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-area {
    margin-top: 50px;
}

.content-area > input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1rem;
}